* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
@font-face {
    font-family: poppins-regular;
    src: url(resources/Poppins-Regular.ttf);
}
html {
    height: 100%;
    font-family: poppins-regular;
    color: white;
}
body {
    min-height: 100%;
    width: 100vw;
}
a {
    text-decoration: none;
    color: white;
}
li {
    list-style: none;
}
#navbar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 0;
    width: 100%;
    height: 10vh;
    background-color: rgba(0,0,0,0.5);
    border: 2px solid lightslategray;
    z-index: 2;
    transition: top 0.5s;
}
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: clip;
}
.nav-bar ul{
    display: flex;
}
ul a {
    list-style: none;
    transition: background-color 0.5s ease-out;
    padding: 100% 1em;
}
ul a:hover {
    color: black;
    background-color: white;
}
.nav-logo {
    height: 3em;
    border-radius: 50%;
    overflow: clip;
    border: 2px solid lightslategray;
    background: linear-gradient(#9198e5, black);
}
.nav-logo img {
    height: 100%;
}
#about {
    position: relative;
    height: 100vh;
    padding: 15vh 0;
}
.about-section-background {
    position: absolute;
    top: 0;
    width: 100vw;
    overflow: clip;
    z-index: -1;
}
.about-section-background-image {
    width: 100%;
    transform: scale(1);
    animation: about-section ease-out forwards;
    animation-timeline: scroll();
    animation-range-start: 1vh;
    animation-range-end: 100vh;
}
.about-container {
    display: grid;
    gap: 2em;
    max-width: 80vw;
    max-height: 80vh;
    padding: 4vw;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.5);
    border: 2px solid lightslategray;
    border-radius: 1em;
}
.about-container-content, .about-text {
    display: flex;
    gap: 2em;
}
.about-text {
    flex-direction: column;
    align-items: center;
    text-align: justify;
    text-justify: inter-word;
    width: 30%;
    font-size: 1em;
    line-height: 1em;
}
.about-image {
    width: 70%;
    height: 80%;
    border: 2px solid lightslategray;
}
.about-image > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sign-up {
    width: 6em;
    height: 3em;
    border: solid 2px lightslategray;
    border-radius: .4em;
    transition: transform 0.5s ease-out;
}
.sign-up:hover {
    transform: translateY(-1em);
}
#types {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    background: url(resources/2.jpg);
    background-attachment: fixed;
    background-size: cover;
    z-index: -1;
}
.text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 2px solid lightslategray;
    background-color: rgba(0,0,0,0.5);
    transition: box-shadow 0.5s ease-out;
}
.types-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    width: 80vw;
    gap: 5vw;
    padding: 5vw;
    margin: 0 auto;
}
.type {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: clip;
    background-color: rgba(0,0,0,0.5);
    border: 2px solid lightslategray;
    border-radius: 1em;
    animation: types ease-out;
    animation-timeline: view();
    animation-range-start: 1vh;
    animation-range-end: 70vh;
}
.type-image, .icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#projects {
    position: relative;    
    width: 100vw;
    min-height: 100vh;
    background: url(resources/3.jpg);
    background-attachment: fixed;
    background-size: cover;
    z-index: 2;
}
.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    width: 80vw;
    gap: 5vw;
    padding: 5vw;
    margin: 0 auto;
}
.link {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: clip;
    background-color: rgba(0,0,0,0.5);
    border: 2px solid lightslategray;
    border-radius: 1em;
    animation: types ease-out;
    animation-timeline: view();
    animation-range-start: 1vh;
    animation-range-end: 60vh;
}
.img-paragraph {
    text-align: center;
    font-size: 1.5em;
    padding: 0.4em;
    line-height: 1em;
}
#contact {
    position: relative;    
    width: 100vw;
    height: 100vh;
    background: url(resources/4.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.contact-container {
    position: absolute;
    display: flex;
    margin: auto;
    width: 100%;
    height: 100%;
}
.social-link-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80vw;
    margin: auto;
    overflow: clip;
    background-color: rgba(0,0,0,0.5);
    border: 2px solid lightslategray;
    border-radius: 1em;
    gap: 5vw;
    padding: 5vw 0;
    animation: types ease-out;
    animation-timeline: view();
    animation-range-start: 1vh;
    animation-range-end: 70vh;
}
.social-link-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.social-link {
    width: 10em;
}
.social-icon {
    width: 100%;
}
.github {
    animation: left ease-out;
    animation-timeline: view();
    animation-range-start: 1vh;
    animation-range-end: 60vh;
}
.youtube, .twitter {
    animation: center ease-out;
    animation-timeline: view();
    animation-range-start: 1vh;
    animation-range-end: 60vh;
}
.gmail {
    animation: right ease-out forwards;
    animation-timeline: view();
    animation-range-start: 1vh;
    animation-range-end: 60vh;
}
footer {
    position: relative;
    bottom: 0;
    width: 100vw;
    height: 10vh;
    overflow: clip;
    background-color: black;
    border: 2px solid lightslategray;
}
.footer-container {
    width: 50%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-link {
    height: 100%;
    transition: background-color 0.5s ease-out, color 0.5s ease-out;
    padding: 100% 0 100% 0;
}
.footer-link:hover {
    color: black;
    background-color: white;
}
@keyframes about-section {
    to {
        transform: scale(2);
    }
}
@keyframes types {
    from {
        transform: translateY(50vh);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes left {
    from {
        transform: translateX(-50vw);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes center {
    from {
        transform: translateY(50vh);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes right {
    from{
        transform: translateX(50vw);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@media screen and (max-width: 399px) {
    #about {
        padding: 15vh 0 0 0;
    }
    .about-container {
        gap: 0.5em;
        padding: 0.5em;
    }
    .about-container-content {
        gap: 1em;
    }
    .about-text {
        width: 90%;
        font-size: 0.9em;
        gap: 0.5em;
        line-height: 1em;
    }
    .about-text p {
        width: 100% !important;
    }
    .social-link {
        width: 35%;
    }
    .footer-container {
        width: 90%;
    }
}
@media screen and (max-width: 500px) {
    ul > li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    .about-container > h1 {
        text-align: center;
    }
    .about-section-background {
        height: 100vh;
    }
    .about-section-background-image {
        height: 100%;
        object-fit: none;
        object-position: -2em;
    }
    .about-container-content {
        display: flex;
        flex-direction: column;
        flex-flow: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .about-text > p {
        width: 15em;
    }
    .about-image {
        width: 100% !important;
    }
    .text {
        text-align: center;
    }
    .contact-container {
        height: 90% !important;
    }
    .contact-container > div {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .footer-container {
        width: 90% !important;
    }
    .gmail {
        animation-timeline: entry() !important;
        animation-range-start: 1vh !important;
        animation-range-end: 30vh !important;
    }
}
@media (min-width: 1900px) and (max-width: 2570px) {
    .nav-logo {
        height: 90%;
    }
    .nav-bar ul, .nav-bar li {
        width: 100%;
        height: 100%;
    }
    .nav-bar li {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }
    .nav-bar a {
        width: 100%;
        font-size: 1.5em;
        text-align: center;
    }
    .about-container-content {
        justify-content: space-around;
    }
    .about-container h1 {
        font-size: 2em;
    }
    .about-text {
        font-size: 1.5em;
        line-height: 1.2em;
    }
    .about-image {
        width: 65%;
        height: 90%;
    }
    .text {
        font-size: 1.5em;
    }
    .social-link-container p {
        font-size: 1.5em;
    }
    .footer-paragraph {
        font-size: 1.7em;
    }
}
@media screen and (min-width: 3800px) {
    .nav-logo {
        height: 90%;
    }
    .nav-bar ul, .nav-bar li {
        width: 100%;
        height: 100%;
    }
    .nav-bar li {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }
    .nav-bar a {
        width: 100%;
        font-size: 3em;
        text-align: center;
    }
    #about {
        width: 100vw;
        height: 100vh;
    }
    .about-container {
        height: 35vw;
        margin-top: 7vh;
    }
    .about-container h1 {
        font-size: 5em;
    }
    .about-container-content {
        justify-content: center;
        gap: 5%;
    }
    .about-text {
        font-size: 3em;
        line-height: 1.2em;
    }
    .about-image {
        width: 52%;
        height: 80%;
    }
    .about-image img {
        object-fit: contain;
    }
    .text h2 {
        font-size: 5em;
    }
    .types-container {
        grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    }
    .img-paragraph {
        text-align: center;
        font-size: 3em;
        padding: 0.2em;
        line-height: 1em;
    }
    .projects-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    }
    .link {
        width: 100%;
    }
    .social-link {
        width: 15em;
    }
    .social-link-container p {
        font-size: 3em;
    }
    .footer-container {
        align-items: center;
        justify-content: center;
    }
    .footer-paragraph {
        font-size: 5em;
    }
}